# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/compiler.xml
.idea/encodings.xml
.idea/misc.xml
.idea/workspace.xml
ego-code-generate/target/
ego-common/target/
ego-manager-web/target/
ego-rpc/ego-rpc-mapper/target/
ego-rpc/ego-rpc-pojo/target/
ego-rpc/ego-rpc-service-impl/target/
ego-rpc/ego-rpc-service/target/
.idea/dataSources.local.xml
.idea/dataSources/
.idea/vcs.xml
